# Archivos de configuración
.env
config.php

# Dependencias
/vendor/
/node_modules/

# Archivos generados
/public/reports/
/storage/logs/
/storage/cache/
/storage/session/
/storage/exports/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de IDE/editores
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Archivos de configuración local
*.local.php

# Archivos temporales
*.log
*.tmp
*.swp
.cache/
config/CredencialesDePrueba.MD
*.cfg
public/test/*
public/pma/*
public/tmp/*

# windsurf rules
.windsurfrules
cookies.txt
